/* ********************home.html */

body{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* width: 100vh; */
    overflow: auto;

}
/* .navbar{
    background-color: #000000;
    
} */

h2{
    /* text-align: center; */
    color: #fff;
}
h1{
    /* text-align: center; */
    color:#5ccc9e;
}
h3{
    color: #fff;
}
.tab-content p{
    color: #fff;
}
.section p {
    color: #fff;
}

/****************************** navbar */
#nav{
    /* background-color: #14add8; */
    width: 100%;
}

.nav a{
    color: #fff;
}
.nav a:hover{
    text-decoration: none;
}
.btn-navbar{
    background-color: #3c810e;
    border: 1px solid #3c810e;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 0.9vw 1vw;
    text-align: center;
  
}
.btn-navbar li  a {
    color: #fff;
    text-decoration: none;
}
#profile{
    margin-right: 1vw;
    background-color: #3c810e;
    border: 1px solid #3c810e;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 0.9vw 1vw;
    text-align: center;
}
#home{
    margin-right: 1vw;
    background-color: #3c810e;
    border: 1px solid #3c810e;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 0.9vw 1vw;
    text-align: center;
}
#signout{
    
    background-color: #992805;
    border: 1px solid #992805;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 0.9vw 1vw;
    text-align: center;
}


/* login-html */
.col-md-8{
    background-color: #fff;
    padding: 2vw 2vw;
    border-radius:2vw;
    margin-top:5%;
}

/* *******************comment */
#com{
    background-color: rgb(100, 186, 207);
    margin-top: 2vw;
  
    border-radius:2vw;
    padding: 2vw 2vw;
}
#back {
  float:right;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.3vw;
  position: relative;
  background-color: #4bbcdf;
  border: none;
  
  padding: 1vw 2vw;
  width: 19vw;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 1px 2vw #193047;
  border-radius: 2vw;
}

#back:hover {
  background: #fff;
  box-shadow: 0px 0.4vw 0.4vw 0.4vw #1abc9c;
  color: #000;
}
#back a{
    color: #fff;
}
#back a:hover{
    color: #000;
    text-decoration: none;
}
/*
#back:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#back:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
} */
/* ******************tabcontent */
#new_pitch{
    font-size: 2vw;
}