{% extends 'base.html' %}
{% block content%}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
<body>
    <div class="main">
        <h2>Welcome to Pitch</h2>
    </div>

    <div class="section">
        <h3>What is Pitch?</h3>
        <p>Pitch is a platform for people to pitch ideas and get feedback from other people.</p>
            
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#interview" aria-controls="tab-01" role="tab" data-toggle="tab">Interview</a></li>
            <li role="presentation"><a href="#product" aria-controls="product" role="tab" data-toggle="tab">Product</a></li>
            <li role="presentation"><a href="#business" aria-controls="tab-03" role="tab" data-toggle="tab">Business</a></li>
            <li role="presentation"><a href="#exercise" aria-controls="tab-03" role="tab" data-toggle="tab">Promotion</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="interview">
              <p>Add an interview pitch that helped you land that job and help many others.<br>
            Also live a comment</p>
            </div>
            <div role="tabpanel" class="tab-pane" id="product">
                <p>Add an product pitch </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="business">
                <p>Add an business pitch </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="promotion">
                <p>Add an promotion pitch </p>
              </div>
          </div>
    </div>
    
</body>
{% endblock %}