{% macro displayPitches(pitches) %}

    {% for pitch in pitches %}

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="media-body">
                    <div class="thumbnail" style="background-color: transparent;">
                        <div class="row">
                            <div class="col-md-2 img-responsive">
                                     <img src="{{url_for('static',filename = pitch.user.profile_pic_path)}}" alt="" class="img-thumbnail rounded-circle">
                            </div>
                            <div class="col-md-10">
                                <p class="pitch-metadata">
                                    <h3 class="inline"><a class="pitch-title" href="#">{{pitch.pitch_title}}</a></h3>
                                    <small class="text-muted">  Posted on {{pitch.posted.strftime('%d/%m/%Y')}} | {{pitch.category}}</small>
                                   
                                </p>
                                <p class="pitch-content">{{pitch.content}}</p>
                                <small class="text-muted">
                                    <a class="mr-2" href="#">-Author {{pitch.user.username}}</a>
                                </small>
                                <br>
                                <br>
                               <div class="bottom">
                                    <a href="{{url_for('main.comment',pitch_id=pitch.id)}}" class= "btn btn-primary btn-sm"> Comment</a>
                                    <a href="{{url_for('main.like',pitch_id=pitch.id)}}" class= "btn btn-primary btn-sm"> Like{{pitch.likes.count()}}</a>
                                    <a href="{{url_for('main.dislike',pitch_id=pitch.id)}}" class= "btn btn-danger btn-sm"> Dislike{{pitch.dislikes.count()}}</a>
                               </div>
                                
                            </div>
    
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
    {% endfor %}

{% endmacro %}

<!-- -------------COMMENT SECTION ---------------- -->
{% macro displayComments(all_comments) %}
{% if all_comments %}
    {% for comment in all_comments %}
    <div class="row" >
        <div class="col-sm-12">
        <div class="col-md-4" id="com" >
                <b>Comment:{{comment.comment}}</b>
                <br><br>
                <i>By: {{comment.user.username}}</i>

           
  
        </div>  </div>
    </div>
{% endfor %}
{% else %}
{% endif %}
{% endmacro %}
