
<!-- As a link -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">


<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
      <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
      <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
      {% else %}
      <button class="btn-navbar"><li><a href="{{url_for('auth.login')}}">Sign in</a></li></button>
      
      <!-- <li><a href="{{url_for('auth.login')}}">Sign up</a></li> -->
      {%endif%}
    </ul>
  </div>
</nav>
